<mat-card>
    <mat-card class="profile-card ">
        <mat-card-header>
            <div mat-card-avatar class="header-image "></div>
            <mat-card-title>揚揚</mat-card-title>
            <mat-card-subtitle>邊緣人</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/profile.jpg ">
        <mat-card-content>
            <p style="text-align: justify;">
                你好，這是一個邊緣人做的網頁，沒什麼原因，就想試試看能做到什麼， 我的朋友很少，少到幾乎沒有，嗚嗚嗚...
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</mat-card>