<div class="wrap">
    <div class="layer">
        <span class="wrap">
          dob
      </span>
    </div>
</div>
<mat-card class="big-card">
    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image "></div>
            <mat-card-title class="text-style">揚揚</mat-card-title>
            <mat-card-subtitle class="text-style">邊緣人</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/profile.jpg">
        <mat-card-content>
            <p style="text-align: justify;" class="text-style">
                你好，這是一個邊緣人做的網頁，沒什麼原因，就想試試看能做到什麼， 我的朋友很少，少到幾乎沒有，嗚嗚嗚...
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</mat-card>