<mat-toolbar class="top-toolbar" color="warn">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welecome to dob !</span>

  <!-- 在這之後的都會被推到右邊去 -->
  <span class="toolbar-seprator"></span>

  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidenav">
    
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button color="primary">Hello World！</button>

    <mat-icon color="accent">person</mat-icon>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>